html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.click {
  font-size: 20px;
}

.page {
  height: 95%;
  display: grid;
  grid-template-rows: 0.05fr minmax(400px, 1fr);
  grid-template-columns: 1fr;
  margin: 4%;
  grid-gap: 2%;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 2px solid black;
  justify-self: center;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}


.modal-space {
  margin: 0 auto;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.click {
  margin: 10% auto;
}

.area-info {
  position: relative;
  width: 90%;
  max-height: 95vh;
  border-radius: 20px;
  border: 2px solid black;
}

#crown {
  width: 7%;
  display: block;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.modal:focus {
  outline: none;
}

@media screen and (min-width: 678px){
  .click {
    font-size: 20px;
  }
  
  .page {
    height: 95%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 2%;
  }
  
  #map {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    justify-self: end;
    margin-right: 2%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  
  .modal-space {
    margin: 0 auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .click {
    margin: 60% auto;
  }

  .area-info {
    position: relative;
    width: 90%;
    height: 95vh;
    border-radius: 20px;
    border: 2px solid black;
  }
  
  .modal:focus {
    outline: none;
  }
}



