/* html, body {
  height: 90%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 70%;
  margin: 5% auto;
} */


header {
  width: 100%;
  height: 100px;
  background: blue;

}
#logo {
  text-align: center;
  padding: 35px;
  
}

.modal {
position: absolute;
top: 100px important;
height: 80vh;
background-color: #fafafa;
padding: 0;
width: 30%;
will-change: top, opacity;
margin: 0;
/* max-height: 600px; */
}

#wrapper {
width: 100%;
}

#map {
  /* position: absolute; */
  /* top: 100px; */
  right: 0;
  height: 600px;
  width: 100%;
  /* background: red; */
}
